In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
!ls

exploracion.ipynb

In [3]:
datos = pd.read_excel('../data/tabla_df.xlsx')

In [8]:
datos.describe()

,OBJECTID,FID_puntos_comerciales,cod_depart,cod_dane_mpio,Vigencia,FID_ECOSISTEMAS_2017,OBJECTID_1,Area_ha,No_Anfibio,No_Aves,...,irh,IVH_MEDIO_VALOR,IVH_SECO_VALOR,FID_Correlacion_5048_md,AREA_HA_1,FID_1,ORIG_FID_1,FID_Cobertura_tierra_2018,codigo,area_Ha_12
count,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,...,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,175526.000000,1.755260e+05
mean,87763.500000,90035.092454,46.832572,47273.865148,2020.411466,171879.700147,171879.700147,4911.737071,12.836167,20.552653,...,0.718780,2.799950,3.209633,28960.221283,24373.581340,28326.869746,28327.869746,190092.886849,41582.290840,2.720616e+04
std,50670.136012,51540.480076,24.709876,24698.498135,2.591087,99870.549759,99870.549759,17313.461910,5.346582,7.352059,...,0.074818,1.044203,1.222545,23509.935954,57188.197694,23014.026860,23014.026860,112535.519798,103416.174453,1.251413e+05
min,1.000000,1.000000,5.000000,5030.000000,2015.000000,4.000000,4.000000,8.224674,0.000000,0.000000,...,0.280000,1.000000,1.000000,23.000000,0.604401,22.000000,23.000000,3869.000000,111.000000,7.762323e-01
25%,43882.250000,45330.250000,20.000000,20710.000000,2017.000000,87249.000000,87249.000000,116.454649,9.000000,13.000000,...,0.680000,2.000000,2.000000,6539.000000,1282.590359,6481.000000,6482.000000,71760.500000,233.000000,1.478785e+02
50%,87763.500000,89788.500000,50.000000,50568.000000,2022.000000,185440.000000,185440.000000,339.530787,14.000000,23.000000,...,0.720000,3.000000,3.000000,21355.000000,4830.087713,20426.000000,20427.000000,191318.000000,314.000000,5.025717e+02
75%,131644.750000,134801.750000,73.000000,73067.000000,2023.000000,260358.250000,260358.250000,1559.829682,15.000000,27.000000,...,0.770000,3.000000,4.000000,42828.000000,15792.881522,41634.000000,41635.000000,325200.000000,3231.000000,3.318481e+03
max,175526.000000,178622.000000,99.000000,99773.000000,2023.000000,344711.000000,344711.000000,343037.917224,24.000000,31.000000,...,0.850000,5.000000,5.000000,74236.000000,510594.111500,72884.000000,72885.000000,332341.000000,321122.000000,5.385389e+06